services:
  redis:
    image: redis:7-alpine
    container_name: notification-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes --requirepass redis123
    volumes:
      - redis_data:/data
    networks:
      - notification-network
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:

  redis_data:
    driver: local

networks:
  notification-network:
    driver: bridge

